# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

organization             = "your-hcp-terraform-org"
github_installation_name = "diogomelodantas"
vcs_repo_identifier      = "diogomelodantas/no-code-provisioning"
module_name              = "no-code-aws-rds"
module_provider          = "aws"
module_branch            = "main"
module_source_directory  = "modules/no-code-aws-rds"
no_code_enabled          = true
